form.profile-edit textarea {
	width: 100%;
}

form.profile-edit button[type="submit"],
form.profile-edit button[type="button"] {
	background: none;
	border: none;
}

form.profile-edit button[type="submit"]:hover > a > span,
form.profile-edit button[type="button"]:hover > a > span {
	color: #e74c3c;
	transition: .3s ease-in-out;
}